/* ---------------------
        Font Import  
   ---------------------*/
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

   /* -----------------------
           Variable CSS 
       ----------------------*/
   
   :root {
       --pink: #fd0155;
       --rating: orange;
       --dark: #000130;
   }
   
   /* -----------------------
               Basic Styles
       ----------------------*/
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   html {
       scroll-behavior: smooth;
   }
   body {
       font-family: 'Roboto', sans-serif;
   }
   a {
       text-decoration: none;
   }
   img {
       cursor: pointer;
   }
   .container {
       width: 75%;
       margin: 30px auto;
   }
   .color {
       color: var(--pink);
   }
   

   /*---------------------- 
          header style 
   ---------------------- */



.logo_heading span{
    font-size: 30px;
    font-weight: 700;

}

.heading-color{
    color: #E02C6D;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    margin-left: 20px;
    color: black;
    font-size: large;
    font-weight: 700;
}

.top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 40px;
    
}
.top-info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.top-img{
    background-image: url(../images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
}

.top-img img{
    width: 100%;
    height: 100%;
}

.btn{
   background-color: #E02C6D; 
   border-radius: 20px;
   color: white;
   width: 140px;
   padding: 5px 10px ;
}